/* Small devices (landscape phones, 576px and up) */
@media (min-width: 0) {
  /* Hero */
  .hero .container {
    padding: 0 20px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Nav */
  .nav {
    width: calc(100% - 60px);
    padding: 0 25px 10px;
  }

  /* Hero */
  .hero {
    margin-top: 0;
  }

  .hero__img {
    width: 324px;
    height: 474px;
  }

  .social-group {
    left: 0;
    bottom: 20px;
    position: absolute;
  }

  .hero__decor--left {
    scale: 124%;
    translate: -38% -54%;
  }

  /* Client */
  .client-group--large {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
  }

  .client-group--small:nth-child(3),
  .client-group--small:nth-child(4) {
    margin-top: 0;
  }

  /* Service */
  .service-item {
    max-width: 100%;
  }

  .service__desc {
    max-width: 400px;
  }

  /* Project */
  .project__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .project__heading,
  .project__desc {
    text-align: left;
    margin: 0;
  }

  .project__desc {
    font-size: 1.3rem;
    max-width: 300px;
  }

  .project-group {
    max-width: 100%;
  }

  /* Stat */
  .stat__desc {
    width: 400px;
    margin: 20px auto 0;
  }

  .stat-video__thumb {
    width: 100%;
    height: auto;
    object-position: 0 0;
  }

  /* Feedback */
  .feedback-decor--left,
  .feedback-decor--right {
    scale: 300%;
  }

  .feedback-decor--left {
    translate: 100% -100%;
  }

  .feedback-decor--right {
    translate: -99% -102%;
  }

  /* FAQ */
  .faq__heading {
    max-width: 400px;
  }

  .faq-item {
    padding-bottom: 10px;
  }

  .faq-item__question {
    max-width: 100%;
  }

  [type="radio"]:checked ~ .faq-item__answer {
    height: 50px;
    max-width: 600px;
  }

  /* Mood */
  .mood .active-group {
    display: none;
  }

  /* Contact */
  .contact__decor--left,
  .contact__decor--right {
    display: block;
    position: absolute;
  }

  .contact__decor--left {
    left: 0;
    bottom: 0;
    translate: -15% 1%;
  }

  .contact__decor--right {
    right: 0;
    top: 0;
    translate: 19% -1%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Common */
  .circle {
    width: 46px;
    height: 46px;
  }

  .mail__letter-icon {
    width: 24px;
  }

  .mail__link {
    font-size: 2.2rem;
  }

  /* Header */
  .header {
    padding-top: 20px;
  }

  /* Nav */
  .nav {
    max-width: calc(100% - 270px);
    border-bottom: none;
    flex-wrap: nowrap;
  }

  .menu-toggle {
    display: none;
  }

  .nav__circle-group {
    order: 1;
  }

  .nav .mail__link {
    display: inline;
  }

  .nav__avatar-wrap {
    order: 2;
  }

  .nav__avatar {
    width: 100px;
    height: 100px;
  }

  .nav-list {
    display: flex;
    column-gap: 42px;
    order: 3;
  }

  .nav-item {
    color: #51586a;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
