/* Small devices (landscape phones, 576px and up) */
@media (min-width: 0) {
  /* Hero */
  .hero .container {
    padding: 0 20px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Nav */
  .nav {
    width: calc(100% - 60px);
    padding: 0 25px 10px;
  }

  /* Hero */
  .hero {
    margin-top: 0;
  }

  .hero__img {
    width: 324px;
    height: 474px;
  }

  .social-group {
    left: 0;
    bottom: 20px;
    position: absolute;
  }

  .hero__decor--left {
    scale: 124%;
    translate: -38% -54%;
  }

  /* Client */
  .client-group--small:nth-child(3),
  .client-group--small:nth-child(4) {
    margin-top: 0;
  }

  /* Service */
  .service-item {
    max-width: 100%;
  }

  .service__desc {
    max-width: 400px;
  }

  /* Project */
  .project__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .project__heading,
  .project__desc {
    text-align: left;
    margin: 0;
  }

  .project__desc {
    font-size: 1.3rem;
    max-width: 300px;
  }

  .project-group {
    max-width: 100%;
  }

  /* Stat */
  .stat__desc {
    width: 400px;
    margin: 20px auto 0;
  }

  .stat-video__thumb {
    width: 100%;
    height: auto;
    object-position: 0 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
