/* Small devices (landscape phones, 576px and up) */
@media (min-width: 0) {
  /* Hero */
  .hero .container {
    padding: 0 20px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Nav */
  .nav {
    width: calc(100% - 60px);
    padding: 0 25px 10px;
  }

  /* Hero */
  .hero {
    margin-top: 0;
  }

  .hero__img {
    width: 324px;
    height: 474px;
  }

  .social-group {
    left: 0;
    bottom: 20px;
    position: absolute;
  }

  .hero__decor--left {
    scale: 124%;
    translate: -38% -54%;
  }

  /* Client */
  .client-group--large {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
  }

  .client-group--small:nth-child(3),
  .client-group--small:nth-child(4) {
    margin-top: 0;
  }

  /* Service */
  .service-item {
    max-width: 100%;
  }

  .service__desc {
    max-width: 400px;
  }

  /* Project */
  .project__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .project__heading,
  .project__desc {
    text-align: left;
    margin: 0;
  }

  .project__desc {
    font-size: 1.3rem;
    max-width: 300px;
  }

  .project-group {
    max-width: 100%;
  }

  /* Stat */
  .stat__desc {
    width: 400px;
    margin: 20px auto 0;
  }

  .stat-video__thumb {
    width: 100%;
    height: auto;
    object-position: 0 0;
  }

  /* Feedback */
  .feedback-decor--left,
  .feedback-decor--right {
    scale: 300%;
  }

  .feedback-decor--left {
    translate: 100% -100%;
  }

  .feedback-decor--right {
    translate: -99% -102%;
  }

  /* FAQ */
  .faq__heading {
    max-width: 400px;
  }

  .faq-item {
    padding-bottom: 10px;
  }

  .faq-item__question {
    max-width: 100%;
  }

  [type="radio"]:checked ~ .faq-item__answer {
    height: 50px;
    max-width: 600px;
  }

  /* Mood */
  .mood .active-group {
    display: none;
  }

  /* Contact */
  .contact__decor--left,
  .contact__decor--right {
    display: block;
    position: absolute;
  }

  .contact__decor--left {
    left: 0;
    bottom: 0;
    translate: -15% 1%;
  }

  .contact__decor--right {
    right: 0;
    top: 0;
    translate: 19% -1%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Common */
  .heading {
    font-size: 56px;
    line-height: 1.17;
    letter-spacing: -2.24px;
  }

  .heading--small {
    font-size: 3.2rem;
    line-height: 1.25;
    letter-spacing: -1.28px;
  }

  .circle {
    width: 46px;
    height: 46px;
  }

  .mail__letter-icon {
    width: 24px;
  }

  .mail__link {
    font-size: 2.2rem;
  }

  .desc {
    font-size: 1.8rem;
    line-height: 1.66;
  }

  .btn {
    --height: 62px;
    min-width: 170px;
    font-size: 1.8rem;
  }

  .container {
    width: 1170px;
    max-width: calc(100% - 40px);
  }

  /* Header */
  .header {
    padding-top: 20px;
    height: 100vh;
  }

  /* Nav */
  .nav {
    max-width: calc(100% - 270px);
    border-bottom: none;
    flex-wrap: nowrap;
  }

  .menu-toggle {
    display: none;
  }

  .nav__circle-group {
    order: 1;
  }

  .nav .mail__link {
    display: inline;
  }

  .nav__avatar-wrap {
    order: 2;
  }

  .nav__avatar {
    width: 100px;
    height: 100px;
  }

  .nav-list {
    display: flex;
    column-gap: 42px;
    order: 3;
  }

  .nav-item {
    color: #51586a;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  /* Hero */
  .hero__img {
    width: 565px;
    height: 638px;
  }

  .hero__heading {
    max-width: 500px;
    font-size: 8rem;
    line-height: 0.95;
    letter-spacing: -3.2px;
  }

  .hero__desc {
    max-width: 370px;
  }

  .hero__cta-group {
    margin-top: 30px;
  }

  .hero__link {
    font-size: 1.8rem;
  }

  .social-group {
    bottom: 30px;
  }

  .social__desc {
    font-size: 1.6rem;
  }

  .social__icon {
    scale: 1.55;
  }

  .hero__decor--left {
    scale: 1.7;
    translate: -35% -54%;
  }

  .hero__decor--right {
    display: block;
    bottom: 0;
    right: 0;
  }

  /* Client */
  .client {
    max-width: 100%;
    margin: 98px 0 0;
  }

  .client__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .client__heading {
    font-size: 4.2rem;
    line-height: 1.19;
    letter-spacing: -1.68px;
    margin: 0;
    margin-left: 99px;
    max-width: 253px;
    text-align: left;
  }

  .client__heading::before {
    width: 86px;
    left: -57px;
    top: 22px;
  }

  .client-group--large {
    margin-top: 0;
  }

  .client-item ~ .client-item {
    margin-top: 34px;
  }

  .client-group--small:nth-child(2),
  .client-group--small:nth-child(4) {
    justify-items: flex-start;
  }

  /* Service */
  .service {
    margin-top: 73px;
    padding-bottom: 80px;
  }

  .service__desc {
    max-width: 534px;
  }

  .service-group {
    margin-top: 60px;
  }

  .service-item {
    max-width: 370px;
    height: 306px;
    padding: 33px 42px;
  }

  .service-item__icon {
    width: 74px;
    height: 74px;
  }

  .service-item__heading {
    margin-top: 22px;
  }

  .service-item__desc {
    margin-top: 15px;
  }

  .service .active-group {
    display: none;
  }

  .service .col:last-child img {
    translate: -3px 8px;
  }

  /* Project */
  .project {
    padding: 86px 0;
  }

  .project__header {
    justify-content: flex-start;
    gap: 160px;
  }

  .project__heading {
    max-width: 468px;
  }

  .project__desc {
    max-width: 370px;
  }

  .project-group {
    margin-top: 70px;
  }

  .project-item {
    max-width: 570px;
    height: 234px;
    padding: 24px 24px 34px;
  }

  .project-item__heading {
    max-width: 223px;
  }

  .project-item__desc {
    margin-top: 10px;
    max-width: 220px;
    font-size: 1.6rem;
  }

  .project-item__img {
    width: 246px;
  }

  .project-item__link {
    margin-top: 20px;
    font-size: 1.8rem;
  }

  .project-item__decor {
    scale: 2;
    top: 38px;
    left: 265px;
  }

  .project__btn {
    margin-top: 80px;
  }
}
