/* Init */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

body {
  font-size: 1.6rem;
}

:root {
  --primary-color: #5d3bee;
  --secondary-color: #fbfaff;
}

/* Common */
a {
  text-decoration: none;
  color: currentColor;
}

.heading {
  margin: 0 auto;
  text-align: center;
}

.heading {
  color: #080415;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -1.44px;
}

.heading--small {
  color: #080415;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -1.12px;
}

.desc {
  color: #51586a;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.65;
}

.btn-wrap {
  text-align: center;
}

.btn {
  --height: 55px;

  /* Button */
  min-width: 147px;
  background-color: var(--primary-color);
  border-radius: 0;

  /* Text */
  color: #fdfdfd;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: var(--height);
}

/* Active circle group */
.active-group {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;

  margin-top: 32px;
}

.active-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(8, 4, 21, 0.2);
}

.active-circle.active {
  width: 12px;
  height: 12px;
  background-color: var(--primary-color);
  position: relative;
}

.active-circle.active::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);

  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.circle {
  /* Center content */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Style circle */
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgba(93, 59, 238, 0.2);
}

/* Mail group */
.mail-group {
  display: inline-flex;
  column-gap: 10px;
  align-items: center;
}

.mail__link {
  color: #080415;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  text-decoration-line: underline;
}

/******************** Main ********************/
main > .container {
  padding: 0;
}

/******************** Header ********************/
/* Hide on mobile, table */
.mail__link,
.nav-list {
  display: none;
}

.header {
  background-color: var(--secondary-color);
  padding-top: 15px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 12px);
  margin: 0 auto;
  padding: 0 14px 10px;
  border-bottom: 1px solid #d6d3e2;
}

.nav__avatar {
  width: 37px;
  height: 44px;
  object-fit: cover;
  translate: -7px 3px;
  order: 1;
}

.nav__circle-group {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  order: 2;
}

.menu-drawer {
  padding: 80px 48px;
  background-color: #fff;
  inset: 0 23% 0 0;
  translate: -100%;
  position: fixed;
  z-index: 3;
  transition: translate ease 0.4s;
}

.menu-drawer img {
  height: 65px;
}

.menu-drawer .nav-item {
  color: #51586a;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
}

.menu-drawer ul,
.menu-drawer li ~ li {
  margin-top: 40px;
}

.menu-drawer ul {
  padding-bottom: 25px;
  border-bottom: 1px solid #bbb8b8;
}

.menu-drawer .mail-group {
  margin-top: 28px;
}

.menu-cover {
  inset: 0;
  position: fixed;
  z-index: 2;
  background-color: #f0efef64;
  opacity: 0;
  visibility: hidden;
  transition: opacity ease 0.4s, visibility 0;
}

#menu-toggle:checked ~ .menu-drawer {
  translate: 0;
}

#menu-toggle:checked ~ .menu-cover {
  opacity: 100%;
  visibility: visible;
}

.menu-drawer .circle {
  display: none;
}

.menu-drawer .mail__link {
  display: inline;
  font-size: 1.8rem;
}

/******************** Hero ********************/
.hero {
  margin-top: 50.5px;
}

/* Hero content */
.hero__heading {
  max-width: 260px;

  font-size: 4.2rem;
  line-height: 1.19;
  letter-spacing: -1.68px;

  text-align: left;
  margin: 0;
}

.hero__desc {
  max-width: 318px;
  margin-top: 20px;
}

.hero__cta-group {
  margin-top: 30px;

  display: flex;
  align-items: center;
  column-gap: 40px;
}

.hero__link {
  color: #080415;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  text-decoration-line: underline;
}

.social-group {
  margin-top: 25px;

  display: flex;
  column-gap: 10px;
  align-items: center;
}

.social__desc {
  color: #51586a;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.42;
}

.social__circle-group {
  display: flex;
  column-gap: 15px;
}

/* Hero media */
.hero__media {
  position: relative;
  margin-top: 20px;
}

.hero__img {
  display: block;
  width: 259px;
  height: 355px;
  object-fit: cover;
  margin: 0 auto;

  /* Make image front */
  position: relative;
  z-index: 1;
}

.hero__decor {
  position: absolute;
  bottom: 0;
  left: -21px;
}

/******************** Client ********************/
.client {
  max-width: calc(100% - 54px);
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 0;
}

.client__heading::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 2px;
  background-color: var(--primary-color);

  position: absolute;
  left: 50%;
  top: -5px;
  translate: -50% 0;
}

.client__heading {
  max-width: 169px;
  text-align: center;
  position: relative;

  font-size: 2.8rem;
  line-height: 1.21;
  letter-spacing: -1.12px;
}

.client-group--large {
  margin-top: 40px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.client-group--small:nth-child(3),
.client-group--small:nth-child(4),
.client-item ~ .client-item {
  margin-top: 30px;
}

.client-item {
  display: block;
}

/* Service */
.service {
  margin-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
}

.service__header {
  text-align: center;
}

.service__desc {
  max-width: 350px;
  margin: 20px auto 0;
}

/* Service group */
.service-group {
  margin-top: 50px;
}

.service-group .row {
  translate: 0;
}

.service-item {
  max-width: 350px;
  height: 280px;
  background-color: #fbfaff;

  padding: 29px 50px;
  margin: 0 auto;
}

.service-group .col:first-child img {
  translate: 0 5px;
}

.service-item__icon {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid rgba(8, 4, 21, 0.05);

  display: flex;
  justify-content: center;
  align-items: center;
}

.service-item__heading {
  margin-top: 30px;
}

.service-item__desc {
  margin-top: 20px;
}

/******************** Project ********************/
.project {
  margin-top: 60px;
  padding: 69px 0 60px;
  background-color: var(--primary-color);
}

.project__header {
  text-align: center;
}

.project__heading,
.project__desc {
  color: #fff;
}

.project__heading {
  max-width: 301px;
}

.project__desc {
  max-width: 350px;
  opacity: 0.6;

  margin: 20px auto 0;
}

/* Project group */
.project-group {
  max-width: calc(100% - 40px);
  margin: 60px auto 0;
}

.project-group .col ~ .col {
  margin-top: 20px;
}

.project-item {
  background-color: #fbfaff;
  padding: 20px 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.projet-item__content,
.project-item__img {
  position: relative;
  z-index: 1;
}

.projet-item__content {
  width: 52%;
}

.project-item__heading {
  font-size: 2.4rem;
  line-height: 1.41;
  letter-spacing: -0.96px;
}

.project-item__desc {
  margin-top: 4px;
  color: #51586a;
  font-size: 1.4rem;
  line-height: 1.42;
}

.project-item__link {
  margin-top: 4px;
  color: #080415;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75;
  text-decoration-line: underline;
}

.project-item__decor {
  position: absolute;
  bottom: 0;
  left: 90px;
  z-index: 0;
}

.project__btn {
  --height: 56px;
  color: #080415;
  background-color: #fff;
  margin-top: 50px;
  min-width: 154px;
}

/* Stat */
.stat {
  margin: 60px auto 0;
  padding-top: 60px;
  max-width: calc(100% - 40px);
  position: relative;
  z-index: 1;
}

.stat__header {
  text-align: center;
}

.stat__greeting {
  color: var(--primary-color);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2;
  letter-spacing: -0.8px;

  margin-right: 4px;
}

.stat__heading {
  margin-top: 10px;
}

.stat__desc {
  margin-top: 20px;
}

.stat-group {
  margin-top: 50px;
  padding: 30px 16px;
  border-top: 1px solid rgba(8, 4, 21, 0.2);
  border-bottom: 1px solid rgba(8, 4, 21, 0.2);

  display: flex;
  justify-content: space-between;
}

.stat-item:first-child {
  order: 2;
}

.stat-item:nth-child(2) {
  order: 1;
}

.stat-item:nth-child(3) {
  order: 3;
}

.stat-item__number {
  color: #080415;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.9px;
  text-decoration-line: underline;
}

.stat__desc {
  color: #51586a;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.37;
}

.stat-video {
  margin-top: 40px;
  position: relative;
}

.stat-video__thumb {
  width: 100%;
  height: 276px;
  object-fit: cover;
  object-position: -50px -1px;
}

.stat-video__play-btn,
.stat-video__label {
  position: absolute;
}

.stat-video__play-btn {
  /* Center the button */
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  /* Style */
  width: 77px;
  height: 77px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  outline: none;

  /* Center the play button */
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat-video__label {
  width: 118px;
  height: 44px;
  background-color: #fff;
  padding: 7px 0;
  text-align: center;
  right: 10px;
  bottom: 10px;

  /* Text */
  color: #51586a;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5;
}

/******************** Feedback ********************/
.feedback {
  margin-top: -108px;
  padding: 229px 0 67px;
  background-color: #fbfaff;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.feedback__desc,
.feedback-item__content {
  text-align: center;
  max-width: 351px;
  margin: 0 auto;
}

.feedback__desc {
  margin-top: 20px;
}

/* Feedback group */
.feedback-group {
  margin-top: 40px;
}

.feedback-group .row {
  translate: 0;
}

.feedback-item__content {
  color: #51586a;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.66;
}

.feedback-item__info {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.feedback-item__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f29764;
  border: 2px solid #fff;
  object-fit: cover;
  object-position: top;
}

.feedback-item__name {
  color: #080415;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.66;
}

.feedback-item__desc {
  margin-top: 3px;
  text-align: center;
}

.feedback .active-group {
  margin-top: 20px;
}

/* Feedback decor */
.feedback-decor--left,
.feedback-decor--right {
  position: absolute;
  bottom: 0;
}

.feedback-decor--left {
  left: 0;
}

.feedback-decor--right {
  right: 0;
}

/******************** FAQ ********************/
.faq {
  margin: 60px auto 0;
  padding: 60px 0;
  max-width: calc(100% - 40px);
}

.faq__heading {
  max-width: 316px;
  text-align: left;
  margin: 0;
  transition: color 0.4s ease;
}

.faq-group {
  margin-top: 40px;
}

.faq-item {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 15px;
  margin: 0 -10px;
  border-bottom: 2px solid #08182f;
  transition: border 0.5s ease;
}

.faq-item__content {
  height: auto;
}

.faq-item ~ .faq-item {
  margin-top: 40px;
}

.faq-item__question {
  max-width: 265px;
  font-size: 2.4rem;
  line-height: 1.25;
  letter-spacing: -0.04em;
}

.faq-item__answer {
  margin-top: 15px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.4s ease, opacity 0.4s ease;
}

.faq__toggle-btn {
  position: relative;
}

.faq__toggle-btn .minus-btn,
.faq__toggle-btn .plus-btn {
  position: absolute;
  transition: opacity 0.6s ease;
}

.faq__toggle-btn .minus-btn,
.faq-item:has([type="radio"]:checked) .plus-btn {
  opacity: 0;
  visibility: hidden;
}

.faq__toggle-btn .plus-btn,
.faq-item:has([type="radio"]:checked) .minus-btn {
  opacity: 100%;
  visibility: visible;
}

/* Show answer when click button */
[type="radio"]:checked ~ .faq-item__answer {
  visibility: visible;
  opacity: 100%;
  height: 80px;
}

.faq-item:has([type="radio"]:checked) {
  border-bottom: 2px solid var(--primary-color);
}

.faq-item:has([type="radio"]:checked) .faq-item__question {
  color: var(--primary-color);
}

/******************** Mood ********************/
.mood {
  margin: 60px auto 0;
  padding-bottom: 60px;
  max-width: calc(100% - 40px);
  overflow: hidden;
}

.mood__desc {
  max-width: 350px;
  margin: 20px auto 0;
  text-align: center;
}

.mood__link {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: var(--primary-color);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.8px;
  text-decoration-line: underline;
}

.mood__img-group {
  margin-top: 60px;
}

.mood__img-group .row {
  translate: 0;
}

.mood__img {
  width: 352px;
  height: 503px;
  object-fit: cover;
  display: block;
}

/******************** Contact ********************/
.contact {
  position: relative;
  margin: 60px auto 0;
  padding: 36px 22px;
  text-align: center;
  background-color: rgba(251, 250, 255, 1);
  overflow: hidden;
}

.contact-content {
  position: relative;
  z-index: 1;
}

.contact__heading {
  margin-top: 10px;
  max-width: 225px;
}

.contact__desc {
  margin: 10px auto 0;
  max-width: 350px;
  text-align: center;
}

.contact__btn {
  margin-top: 30px;
}

.contact__decor {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 0;
}

/******************** Footer ********************/
.footer {
  margin: 60px auto 0;
  text-align: center;
  padding: 60px 0 29px;
}

.footer__avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.footer__nav-list {
  margin-top: 20px;
  display: inline-flex;
  gap: 38px;
}

.footer__nav-item {
  color: #51586a;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
}

.footer .mail-group {
  margin-top: 58px;
}

.footer .circle {
  width: 40px;
  height: 40px;
}

.footer .mail__link {
  display: inline;
}

.footer__privacy,
.footer__copyright {
  color: #525771;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.54px;
  opacity: 0.6;
}

.footer__privacy {
  margin-top: 57px;
  padding: 29px;
  border-bottom: 1px solid #525771;
}

.footer__copyright {
  margin-top: 20px;
}
