/* Init */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

body {
  font-size: 1.6rem;
}

:root {
  --primary-color: #5d3bee;
  --secondary-color: #fbfaff;
}

/* Common */
a {
  text-decoration: none;
  color: currentColor;
}

.heading {
  color: #080415;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -1.12px;
}

.desc {
  color: #51586a;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.65;
}

.btn {
  --height: 55px;

  /* Button */
  min-width: 147px;
  background-color: var(--primary-color);
  border-radius: 0;

  /* Text */
  color: #fdfdfd;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: var(--height);
}

/******************** Header ********************/
/* Hide on mobile, table */
.nav__mail,
.nav-list {
  display: none;
}

.header {
  background-color: var(--secondary-color);
  padding-top: 15px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: calc(100% - 12px);
  margin: 0 auto;
  padding: 0 14px 10px;
  border-bottom: 1px solid #d6d3e2;
}

.nav__avatar {
  width: 37px;
  height: 44px;
  object-fit: cover;
  translate: -7px 3px;

  order: 1;
}

.nav__circle-group {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  order: 2;
}

.nav__circle {
  /* Center content */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Style circle */
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgba(93, 59, 238, 0.2);
}

/******************** Hero ********************/
.hero {
  margin-top: 50.5px;
}

.hero .container {
  padding: 0 20px;
}

/* Hero content */
.hero__heading {
  max-width: 260px;

  font-size: 4.2rem;
  line-height: 1.19;
  letter-spacing: -1.68px;
}

.hero__desc {
  max-width: 318px;
  margin-top: 20px;
}

.hero__cta-group {
  margin-top: 30px;

  display: flex;
  align-items: center;
  column-gap: 40px;
}

.hero__link {
  color: #080415;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  text-decoration-line: underline;
}

.social-group {
  margin-top: 25px;

  display: flex;
  column-gap: 10px;
  align-items: center;
}

.social__desc {
  color: #51586a;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.42;
}

.social__circle-group {
  display: flex;
  column-gap: 15px;
}

.social__circle {
  /* Style circle */
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 1px solid rgba(8, 4, 21, 0.1);

  /* Center content */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hero media */
.hero__media {
  position: relative;
  margin-top: 20px;
}

.hero__img {
  display: block;
  width: 259px;
  height: 355px;
  object-fit: cover;
  margin: 0 auto;

  /* Make image front */
  position: relative;
  z-index: 1;
}

.hero__decor {
  position: absolute;
  bottom: 0;
  left: -21px;
}

/* Client */
.client {
  width: calc(100% - 54px);
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 0;
}

.client__heading::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 2px;
  background-color: var(--primary-color);

  position: absolute;
  left: 50%;
  top: -5px;
  translate: -50% 0;
}

.client__heading {
  max-width: 169px;
  text-align: center;
  margin: 0 auto;

  position: relative;
}

.client-group--large {
  margin-top: 40px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.client-group--small:nth-child(3),
.client-group--small:nth-child(4),
.client-item ~ .client-item {
  margin-top: 30px;
}

.client-item {
  display: block;
}
